#form,
#head,
#clock {
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 40%;
	margin: auto;
	border: 2px solid black;
	padding: 50px;
}

.element {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: auto;
}

#time {
	font-size: 50px;
}
#date {
	font-size: 20px;
	text-align: right;
	margin: auto;
	width: 400px;
}
